<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="office-table">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>勤怠種類</td>
      </tr>
    </thead>
  </table>
</div>